body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
h1,
h2,
h3 {
  color: rgb(227, 227, 227);
}

button {
  cursor: pointer;
  margin: 10px 0;
}

input {
  background-color: transparent;
  border: 0.5px solid #e3e3e3;
  padding-left: 3px;
  color: #e3e3e3;
}

input:focus {
  outline: none;
}

.practice-container {
  padding: 5px 10px 50px;
}

.data-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.container {
  min-width: 500px;
  background-color: #606060;
  border-radius: 20px;
  padding: 10px;
}
.displayed-data {
  color: #a5ffc9;
}
